/* CSS HEX */
--slate-gray: #697982ff;
--umber: #5E514Bff;
--pastel-pink: #D8A5A4ff;
--light-slate-gray: #7D919Aff;
--jet: #353131ff;

/* CSS HSL */
--slate-gray: hsla(202, 11%, 46%, 1);
--umber: hsla(19, 11%, 33%, 1);
--pastel-pink: hsla(1, 40%, 75%, 1);
--light-slate-gray: hsla(199, 13%, 55%, 1);
--jet: hsla(0, 4%, 20%, 1);

/* SCSS HEX */
$slate-gray: #697982ff;
$umber: #5E514Bff;
$pastel-pink: #D8A5A4ff;
$light-slate-gray: #7D919Aff;
$jet: #353131ff;

/* SCSS HSL */
$slate-gray: hsla(202, 11%, 46%, 1);
$umber: hsla(19, 11%, 33%, 1);
$pastel-pink: hsla(1, 40%, 75%, 1);
$light-slate-gray: hsla(199, 13%, 55%, 1);
$jet: hsla(0, 4%, 20%, 1);

/* SCSS RGB */
$slate-gray: rgba(105, 121, 130, 1);
$umber: rgba(94, 81, 75, 1);
$pastel-pink: rgba(216, 165, 164, 1);
$light-slate-gray: rgba(125, 145, 154, 1);
$jet: rgba(53, 49, 49, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #697982ff, #5E514Bff, #D8A5A4ff, #7D919Aff, #353131ff);
$gradient-right: linear-gradient(90deg, #697982ff, #5E514Bff, #D8A5A4ff, #7D919Aff, #353131ff);
$gradient-bottom: linear-gradient(180deg, #697982ff, #5E514Bff, #D8A5A4ff, #7D919Aff, #353131ff);
$gradient-left: linear-gradient(270deg, #697982ff, #5E514Bff, #D8A5A4ff, #7D919Aff, #353131ff);
$gradient-top-right: linear-gradient(45deg, #697982ff, #5E514Bff, #D8A5A4ff, #7D919Aff, #353131ff);
$gradient-bottom-right: linear-gradient(135deg, #697982ff, #5E514Bff, #D8A5A4ff, #7D919Aff, #353131ff);
$gradient-top-left: linear-gradient(225deg, #697982ff, #5E514Bff, #D8A5A4ff, #7D919Aff, #353131ff);
$gradient-bottom-left: linear-gradient(315deg, #697982ff, #5E514Bff, #D8A5A4ff, #7D919Aff, #353131ff);
$gradient-radial: radial-gradient(#697982ff, #5E514Bff, #D8A5A4ff, #7D919Aff, #353131ff);